{% extends 'music/base.html' %}
	{% block title %} Album Detail {% endblock %}

{% block body %}
	<img src="{{ album.album_logo }}">

	<h1>{{ album.album_title }}</h1>
	<h3>{{ album.artist }}</h3>

		{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
		{% endif %}
		<form method="post" action="{% url 'music:favorite' album.id %}">
		{% csrf_token %}
		{% for song in album.song_set.all %}
			<input type="radio" name="song" id="song{{ forloop.counter }}" value="{{ song.id }}"/>
			<label for="song{{ forloop.counter }}">
				{{ song.song_title }}
				{% if song.is_favorite %}
					<img src="https://cdn3.iconfinder.com/data/icons/forum-emoticons-2-20x20/20/Ster.png">
				{% endif %}
			</label><br/>
		{% endfor %}
		<input type="submit" value="Favorite">
		</form>
{% endblock %}